@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

a {
  text-decoration: none; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 600;
  padding: 1rem 0;
  height: 4.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(204, 204, 204, 0.7);
  box-shadow: 0 1px 1px rgba(204, 204, 204, 0.7); }
  .header__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .header__icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo-container {
    margin: 0;
    padding: 0;
    width: 8.5rem; }
  .header__icon-menu, .header__icon-close {
    width: 2.5rem;
    cursor: pointer;
    position: relative;
    z-index: 750; }
  .header__icon-menu {
    fill: #CE4139; }
  .header__icon-close {
    fill: #fff;
    display: none; }
  .header__input {
    display: none; }
    @media screen and (min-width: 48em) {
      .header__input {
        display: initial;
        border: 1px solid rgba(204, 204, 204, 0.7); }
        .header__input:focus {
          outline: none; } }

@media screen and (max-width: 64em) {
  .main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: -100%;
    z-index: 700;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #27C9FF;
    opacity: 0;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in; }
    .main-nav.active {
      right: 0;
      opacity: .97; } }

.main-nav__list {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.main-nav__list-item {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.main-nav__link {
  display: block;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 4;
  color: #fff; }

.landing {
  margin-top: 4.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#27C9FF), to(#1D73C9));
  background: linear-gradient(to right, #27C9FF, #1D73C9); }
  .landing__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .landing__copy-container {
    text-align: center; }
  .landing__title, .landing__description, .landing__course-link, .landing__course-date {
    color: #fff; }
  .landing__title {
    font-size: 2.3rem;
    line-height: 1.4; }
  .landing__description {
    font-size: 1.1rem;
    line-height: 1.6; }
  .landing__dates-container {
    margin-top: 1.5rem; }
  .landing__course-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1rem;
    text-transform: uppercase;
    line-height: 3.5;
    border-radius: .3rem;
    background: -webkit-gradient(linear, left top, right top, from(#e5544c), to(#de2a20));
    background: linear-gradient(to right, #e5544c, #de2a20);
    opacity: .9; }
  .landing__course--1 {
    margin-bottom: 1.5rem; }
  .landing__course-icon {
    position: relative;
    top: .1rem;
    margin-right: .2rem;
    width: 1.1rem;
    fill: #fff; }
  .landing__right-container {
    width: 50%; }
  .landing__img-container {
    display: none; }
    @media screen and (min-width: 64em) {
      .landing__img-container {
        width: 100%;
        padding-bottom: 10em;
        background: url(../images/laptop-EDteam.png) right bottom/cover no-repeat; } }

.courses {
  padding: 2.5rem 0; }
  .courses__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .courses__header {
    text-align: center;
    margin-bottom: 3rem; }
  .courses__header-title {
    font-size: 1.6rem;
    color: #282D31; }
  .courses__item {
    margin-bottom: 2.5rem;
    border-radius: .5rem;
    background-color: #fff;
    -webkit-box-shadow: 0.2px 0.2px 0 1px rgba(204, 204, 204, 0.5);
    box-shadow: 0.2px 0.2px 0 1px rgba(204, 204, 204, 0.5);
    cursor: pointer; }
  .courses__img {
    width: 100%;
    padding-bottom: 11rem;
    border-radius: .5rem .5rem 0 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .courses__img--1 {
    background-image: url(../images/JavaScriptAvanzado-poster-720_0.jpg); }
  .courses__img--2 {
    background-image: url(../images/design-poster-720_0.jpg); }
  .courses__img--3 {
    background-image: url(../images/frontend-poster-720_0.jpg); }
  .courses__img--4 {
    background-image: url(../images/go-poster-720_0.jpg); }
  .courses__description-container {
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 0 0 .5rem .5rem; }
  .courses__title {
    margin-top: 0;
    font-size: 1.1rem;
    color: rgba(40, 45, 49, 0.8);
    line-height: 1.6; }
  .courses__teacher-name {
    font-style: italic;
    color: #282D31; }
  .courses__button-container {
    margin-top: 1.5rem; }
  .courses__price-link {
    display: inline-block;
    padding: 0 1rem;
    border: 1px solid #CE4139;
    border-radius: .3rem;
    line-height: 2.4;
    color: #CE4139; }
  .courses__icon-cart {
    width: 1rem;
    margin-right: .4rem;
    fill: #CE4139; }
  .courses__button-courses-container {
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center; }
  .courses__button-courses {
    display: inline-block;
    padding: 0 2rem;
    border-radius: .3rem;
    line-height: 3;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(-20deg, #e5544c, #ca8803); }
    .courses__button-courses:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#CE4139), to(#CE4139));
      background: linear-gradient(#CE4139, #CE4139); }

.edcamp {
  padding: 5rem 0 3rem;
  background: -webkit-gradient(linear, right top, left top, from(#1D73C9), to(#27C9FF));
  background: linear-gradient(to left, #1D73C9, #27C9FF); }
  .edcamp__container {
    width: 90%;
    margin-right: auto;
    margin-left: auto; }
  @media screen and (max-width: 64em) {
    .edcamp__left-container {
      margin-bottom: 4rem; } }
  .edcamp__img-container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 16rem;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -webkit-box-shadow: 0 15px 16px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 15px 16px -10px rgba(0, 0, 0, 0.4); }
    .edcamp__img-container::after {
      content: "EDcamp 2016";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      line-height: 3;
      text-align: center;
      font-size: 1.3rem;
      font-style: italic;
      background-color: #fff;
      color: rgba(40, 45, 49, 0.8); }
  .edcamp__img {
    border: 6px solid #fff; }
  .edcamp__copy-container {
    position: relative; }
    .edcamp__copy-container:before {
      content: "\"";
      position: absolute;
      top: -.8rem;
      left: 0;
      font-size: 5rem;
      color: #fff; }
  .edcamp__text, .edcamp__link-text {
    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.6;
    color: #fff;
    padding-left: 3rem; }
  .edcamp__link-text {
    text-decoration: underline;
    display: block; }

.features {
  padding: 3rem 0; }
  .features__container {
    width: 90%;
    margin-right: auto;
    margin-left: auto; }
  .features__header {
    margin-bottom: 3rem; }
  .features__header-title {
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    color: #282D31; }
  .features__item {
    position: relative;
    margin-bottom: 2.5rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: .3rem;
    height: 250px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0.2px 0.2px 0 1px rgba(204, 204, 204, 0.5);
    box-shadow: 0.2px 0.2px 0 1px rgba(204, 204, 204, 0.5);
    cursor: pointer; }
    .features__item:hover .features__title {
      text-align: right;
      top: -9rem;
      color: #fff; }
    .features__item:hover .features__text {
      right: 1.5em;
      color: #fff; }
    .features__item:hover .features__img-container {
      -webkit-transform: translate(-90%, 90%) scale(1.5);
      transform: translate(-90%, 90%) scale(1.5); }
  .features__item--bg-1::before, .features__item--bg-2::before, .features__item--bg-3::before, .features__item--bg-4::before, .features__item--bg-5::before, .features__item--bg-6::before {
    content: " ";
    display: block;
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in; }
  .features__item--bg-1:hover:before, .features__item--bg-2:hover:before, .features__item--bg-3:hover:before, .features__item--bg-4:hover:before, .features__item--bg-5:hover:before, .features__item--bg-6:hover:before {
    -webkit-transform: scale(50);
    transform: scale(50);
    opacity: 1; }
  .features__item--bg-1::before, .features__item--bg-3::before, .features__item--bg-5::before {
    background-color: #2279D7; }
  .features__item--bg-2::before, .features__item--bg-4::before, .features__item--bg-6::before {
    background-color: #E23F36; }
  .features__img-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 7rem;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in; }
  .features__title {
    position: relative;
    top: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #27C9FF;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in; }
  .features__text {
    position: absolute;
    top: 2.5rem;
    right: -30em;
    font-size: .9rem;
    line-height: 1.6;
    text-align: right;
    width: 70%;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in; }

.social {
  padding: 3rem 0; }
  .social__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .social__header {
    margin-bottom: 3.5rem; }
  .social__header-title {
    text-align: center;
    color: #282D31;
    font-size: 2rem;
    line-height: 1.5; }
  .social__media-list {
    text-align: center; }
  .social__media-item {
    display: inline-block; }
  .social__media-link {
    line-height: 3.5; }
  .social__media-icon {
    width: 2.9rem;
    fill: rgba(40, 45, 49, 0.8);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in; }
    .social__media-icon:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
  .social__media-icon--yt, .social__media-icon--fb, .social__media-icon--tw, .social__media-icon--in, .social__media-icon--pt {
    margin-right: .5rem; }
  .social__media-icon--yt:hover {
    fill: #D54549; }
  .social__media-icon--fb:hover {
    fill: #6078AA; }
  .social__media-icon--tw:hover {
    fill: #75BBF0; }
  .social__media-icon--in:hover {
    fill: #D55A96; }
  .social__media-icon--pt:hover {
    fill: #C9494D; }
  .social__media-icon--gh:hover {
    fill: #000; }

.footer {
  padding: 3rem 0 2rem;
  background-color: #282D31; }
  .footer__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .footer__column-1, .footer__column-2 {
    margin-bottom: 2rem; }
  .footer__header-column {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1.5rem; }
  .footer__header-title {
    margin-bottom: .3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9); }
  .footer__contact-item {
    line-height: 2; }
  .footer__icon-contact-container {
    color: rgba(255, 255, 255, 0.9); }
  .footer__icon-contact {
    position: relative;
    top: .35rem;
    margin-right: .4rem;
    width: 1.3rem;
    fill: rgba(255, 255, 255, 0.9); }
  .footer__social-list {
    margin-top: 1.2rem;
    text-align: left; }
  .footer__social-icon {
    width: 2.2rem;
    fill: rgba(255, 255, 255, 0.5); }
  .footer__blog-list {
    margin-bottom: 2rem; }
  .footer__blog-link {
    display: inline-block;
    line-height: 3;
    color: #8be2ff; }
    .footer__blog-link:hover {
      text-decoration: underline; }
  .footer__blog-button {
    display: inline-block;
    border: 1px solid #8be2ff;
    line-height: 2.5;
    padding: 0 2rem;
    color: #8be2ff; }
    .footer__blog-button:hover {
      border-color: rgba(139, 226, 255, 0.5); }
