.features {
    padding: 3rem 0;

    &__container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    &__header {
        margin-bottom: 3rem;
    }
    &__header-title {
        text-align: center;
        line-height: 1.5;
        font-size: 2rem;
        color: $color5;
    }
    //items container
    &__items-container {

    }
    &__item {
        text-align: center;
        background-color: #fff;
        margin-bottom: 2.5rem;
    }
    &__img-container {
        margin: 0 auto;
        padding: 0;
        width: 8rem;
    }
    &__img {

    }
}