.main-nav {
    @media screen and (max-width: 64em) {
        position: fixed;
        width: 100%;
        top: 0;
        right: -100%;
        z-index: 700;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color2;
        opacity: 0;
        transition: all 250ms ease-in;

        &.active {
            right: 0;
            opacity: .97;
        }
    }

    &__list {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &__list-item {
        box-shadow: 0 1px 0 rgba(#fff, .5);
    }
    &__link {
        display: block;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: $medium;
        line-height: 4;
        color: #fff;
    }
}